KKKPr/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LogService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LogService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="logDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="machine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="machineIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeLog" nillable="true" type="tns:CompositeLog" />
</xs:schema>